html {
    font-size: 0.875rem;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 3.75rem;
}


/*Navbar*/
.active {
    font-weight: bold;
}


/*Formulaires*/
.form-container {
    max-width: 31.25rem;
    margin: 0 auto;
    padding: 1.25rem;
}

.form-title {
    text-align: center;
    margin-bottom: 1.25rem;
}


/*Boutons*/
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


/*Autres*/
.rouge {
    color: red;
}

.italique {
    font-style: italic;
}


/*Media Queries*/
@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
}